<div class="screen flex flex-col items-center my-4 mx-32">

  <app-intro 
    [panelOpenState]="panelOpenState"
    (emitPanel)="updatePanel($event)"
    ></app-intro>
  
  <app-tabela 
    [itens]="itens"
    (emitExcluir)="deletaItem($event)"
  ></app-tabela>

  <div class="mt-4 font-medium text-green-700 max-w-md break-normal	">
    {{maxValor}}
    <br/>
    {{itensRemovidos}}
  </div>

  <div class="flex flex-row gap-4 justify-end mt-4">
    <button
      class="bg-yellow-500 text-black px-2 py-1 rounded-lg"
      (click)="selecionarItens()"
    >Auto-selecionar Itens</button>

    <button
      class="bg-blue-700 text-white px-2 py-1 rounded-lg"
      (click)="setPanel(); abrirForm()"
    >Inserir novo item</button>
  </div>

</div>

<div *ngIf="dialogOpen" class="block bg-black opacity-50 absolute top-0 z-1 w-screen h-screen"></div>
