<mat-expansion-panel
    (opened)="emitePanel()"
    [expanded]="panelOpenState"
>
  <mat-expansion-panel-header>
    <mat-panel-description class="font-normal text-xl text-blue-600 mx-auto w-full justify-around">
      Início da História
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="flex flex-col items-center gap-4 text-xl text-justify">
   
    <img src="../../assets/airport-bg.png" alt="seu antenor" style="width: 440px; height: 400px;">

    Seu Antenor é o carregador de cargas de um aeroporto e hoje ele está recebendo várias cargas para colocar no avião, porém o avião que vai levá-las tem capacidade máxima de apenas 500kg, o que passa do peso total que todas as cargas possuem, ou seja, algumas cargas não poderão ir no voo. Então, Seu Antenor pediu a sua ajuda para decidir quais cargas devem ir no avião, de modo que ele obtenha o maior lucro possível.
  
    
    <br>
  </div>
</mat-expansion-panel>

<hr class="mb-4">